

.GameBoard{
    margin: 10%;
    margin-left: 30%;
    width: 70%;
    /* height: 50%; */
    padding: 10px;
    
}


.table{
    align-items: center;
    border-collapse: collapse;
    margin: 9000px;
    width: auto;
    border: 3px solid green;
    padding: 10px;
    
}
.board{
    width: 100px;
    height: 100px;
    text-align: center;
    transition: 0.5s;
    background-color: green;
    margin: 200px;
    border-radius: 5px;
}

.board:hover{
    background-color: azure;
}



.count-up-timer{
	font-size: 20px;
	font-weight: bold;
	color: rgb(159, 159, 219);
    text-align: center;
    border:5px solid chocolate;
    width:90px;
    margin: auto;
}
.stop_count_up_timer{
	background-color:black;
	color:rgb(200, 17, 17)
}
body{
    text-align:center;
    background-color: aqua;
}

button{
    margin:auto;
    margin: auto;
    text-align: center;
}

